<!DOCTYPE html>
<html>

<head>
  <title>Detalle de Pedido</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
  <div class="text-center m-8">
    <h1 class=" uppercase text-xl font-bold ">d´glamour | mayoristas</h1>
    <p>Dir: Ayacucho 732 y Lorenzo Garaicoa - Mezanine</p>
    <p>Cell: 0959980328</p>

  </div>


  <h2 class="mx-2 text-xl font-bold mb-2 text-right"> Pedido No: <%= formatId %> </h2>
  <p class="mx-2 my-2"> Fecha de Pedido: <span class="font-bold"><%= formatDate %></span> </p>

  <div class="mx-2 my-2"> Cliente: <span class="font-bold"><%= cliente.nombre %></span> - Ciudad: <span
      class="font-bold"><%= cliente.ciudad %></span> - Teléfono: <span class="font-bold"><%= cliente.telefono %></span>
  </div>

  <p class="mx-2 mb-4"> Dirección de Envio: <span class="font-bold"><%= pedido.direccion %></span> </p>




  <table class="m-2 w-full">
    <thead class="table-auto shadow-md mt-10 w-full w-lg">
      <tr class="text-center">
        <th class="border py-2">CANT</th>
        <th class="border py-2">Descripción</th>
        <th class="border py-2">Precio</th>
        <th class="border py-2">Total</th>
      </tr>
    </thead>

    <tbody>
      <% pedido.pedido.forEach(prod => { %>
      <tr class="text-center">
        <td class="border px-4 py-2"><%= prod.cantidad %></td>
        <td class="border px-4 py-2"><%= prod.nombre %></td>
        <td class="border px-4 py-2">$ <%= prod.precio %></td>
        <td class="border px-4 py-2"><%= prod.precio * prod.cantidad %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <%if (pedido.costEnv) { %>
  <p class="mx-2 my2 text-xl"> Costo de Envío: <span class="font-bold">$ <%= pedido.costEnv %></span> </p>
  <% } %>
  <p class="mx-2 my2 text-xl"> Total Pedido: <span class="font-bold">$ <%= pedido.total %></span> </p>

  <div id="pageFooter">
    <p class="mx-2 my-2"> Descripción de Pago: <span class="font-bold text-xl"><%= pedido.descripcion %>
    </p>
    <p class="mx-2 my2 text-xl"> Vendedor: <span class="font-bold"><%= vendedor.nombre %></span> </p>
  </div>

</body>

</html>